/.idea
/vendor
/node_modules
/coverage
/build
package-lock.json
yarn.lock
composer.phar
composer.lock
phpunit.xml
.phpunit.result.cache
/.phpunit.cache
/.php_cs.cache
/.php-cs-fixer.cache
.DS_Store
Thumbs.db
